@charset "utf-8";

body {
	background-color: #fff;
}

.main-content {
	display: flex;
	height: 100%;
}
.user {
	height: 200px;
	background-color: #e3e3e3;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #000;
}
#big-identicon img {
	width: 90px;
	height: 90px;
	border-radius: 3px;
}
.user .user-name {
	margin-top: 6px;
}
#left-container {
	min-width: 200px;
	height: 100%;
	background-color: #414141;
	color: #fff;
}
#left-container .logo {
	text-align: center;
	padding-top: 40px;
}
#left-container .logo img {
	width: 60px;
}
#main {
	flex-basis: auto;
}
.side_menu ul {
	margin-top: 40px;
	padding: 0;
	list-style: none;
}
.side_menu ul  li {
	text-align: center;
}
.side_menu ul  li .right-arrow {
	width: 16px;
	height: 16px;
}
.side_menu ul  li a {
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
	color: #fff;
	font-size: 14px;
	text-decoration: none;
}
.side_menu ul  li a:hover {
	background-color: #6e6e6e;
}
.side_menu ul  li a .menu-icon {
	margin-left: 20px;
}
.side_menu ul  li a .right-arrow {
	margin-right: 20px;
}
