@charset "utf-8";

/* title-header */
div#title-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0;
	background: #bbb;
	height: 34px;
	line-height: 32px;
	color: #fff;
	background-color: #444;
}
div.title {
	margin: 5px 0 0 70px;
}
div.title img {
	width: 60px;
}
.login-user {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0 30px 0 0;
	white-space: nowrap;
	list-style: none;
}
.login-user li {
	flex: auto;
}
#small-identicon img {
	width: 16px;
	height: 16px;
	margin: 10px 10px 0 0;
}
#user-name {
	margin-right: 10px;
}
#user-settings img {
	width: 16px;
	height: 16px;
	margin: 10px 8px 0 0;
}
#logout a {
	display: flex;
	align-items: center;
	margin-left: 30px;
	text-decoration: none;
	color: #fff;
}
#logout a:hover {
	opacity: 0.8;
}
#logout img {
	margin: 2px 0 0 6px;
}
