@charset "UTF-8";

html, body {
	background-color: #fff;
	-moz-user-select: auto;
	-ms-user-select: auto;
	-webkit-user-select: auto;
	user-select: auto;
}
#header {
	position: relative;
	z-index: 2000;
}
.list-container {
	display: flex;
	justify-content: center;
	min-width: 600px;
	padding: 0 80px;
	margin: 0 auto;
}
ul.list {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-content: space-between;
	flex-wrap: wrap;
	list-style: none;
}
li.project {
	position: relative;
	min-width: 300px;
	max-width: 300px;
	height: 220px;
	margin: 21px;
	border: 1px solid #d2d2d2;
	list-style: none;
	background-color: #fff;
}
li.project.empty {
	height: 0;
	border: none;
	margin: 22px;
	order: -1;
}
li.project .name {
	text-align: center;
	font-size: 20px;
	border-bottom: 1px solid #d2d2d2;
	padding: 20px 0;
	cursor: move;
}
li.project .open-button a {
	display: block;
	padding: 12px;
	text-align: center;
	font-size: 20px;
	text-decoration: none;
	background-color: #1277eb;
	margin: 13px 30px;
	color: #fff;
	border-radius: 2px;
}
li.project .open-button a:hover {
	opacity: 0.8;
}

/* settings */
li.project .settings a {
	display: flex;
	align-items: center;
	position: absolute;
	right: 0;
	bottom: 0;
	text-decoration: none;
	color: #000;
	font-size: 13px;
	padding: 10px 20px;
}
li.project .settings a:hover {
	opacity: 0.6;
}
li.project .settings a .gear {
	margin-right: 7px;
}

/* delete */
li.project .delete a {
	display: flex;
	align-items: center;
	position: absolute;
	left: 0;
	bottom: 0;
	text-decoration: none;
	color: #000;
	font-size: 12px;
	padding: 10px 20px;
	opacity: 0.1;
}
li.project .delete a:hover {
	opacity: 0.5;
	color: #f00;
}
li.project .delete a .sprite {
	margin-right: 1px;
	width: 16px;
	height: 16px;
	overflow: hidden;
}
li.project .delete a:hover .sprite img {
	margin-top: -48px;
}

/* button elements */
.settings-button,
.clear-button {
	display: inline-block;
	line-height: 0;
	padding: 10px;
	border: 1px solid #d2d2d2;
	vertical-align: top;
}
.settings-button:hover,
.clear-button:hover {
	opacity: 0.8;
}

/* form */
#name,
#doc_root,
#directory,
#user_name {
	width: 400px;
}
#domain {
	width: 317px;
}

.delete-complete {
	text-align: center;
	padding: 30px 0;
	font-size: 15px;
}
.delete-complete .project-name {
	font-weight: bold;
	font-size: 16px;
	margin-right: 3px;
	color: #c00;
}

table.form a.selectbox {
	line-height: 36px;
}

table.form .user-name {
	display: inline-flex;
	align-items: center;
	border: 1px solid #ccc;
	width: 400px;
	flex-wrap: wrap;
	min-height: 36px;
	vertical-align: bottom;
}
table.form .user-name.delete {
	border: none;
	min-height: inherit;
	min-height: initial;
	min-height: unset;
}
table.form .user-name span {
	white-space: nowrap;
	margin: 2px 10px;
}
table.form .user-name.delete span:first-child {
	margin-left: 0;
}