@charset "UTF-8";

html, body {
	background-color: #fff;
	-moz-user-select: auto;
	-ms-user-select: auto;
	-webkit-user-select: auto;
	user-select: auto;
}
#header {
	padding: 0 80px;
	min-width: 700px;
}

.control .back-button {
	visibility: hidden;
}